
<footer id="footer">
  <div class="row">
    <div class="col-lg-12">

      <ul class="list-unstyled">
        <li><a href="/api">API</a></li>
        <li><a href="https://discord.gg/Dd8CUbv" target="_blank" rel="noreferer,noopener" rel="noreferer,noopener">Discord</a></li>
        <li><a href="https://monitor.mynano.ninja" target="_blank" rel="noreferer, noopener">Node Monitor</a></li>
        <li><a href="https://github.com/BitDesert/MyNanoNinja" target="_blank" rel="noreferer, noopener">Source Code</a></li>
        <li><a href="https://mynano.ninja/account/my-nano-ninja/send">Donate</a></li>
        <li><a href="https://github.com/sponsors/BitDesert">Sponsor</a></li>
      </ul>
      
      <p>Made by <a href="https://github.com/BitDesert">BitDesert</a>.</p>
      <p class="truncate">Representative: <a href="https://mynano.ninja/account/my-nano-ninja">nano_1ninja7rh37ehfp9utkor5ixmxyg8kme8fnzc4zty145ibch8kf5jwpnzr3r</a></p>
      <p><small>Ninja Icon by Ridzal Zainal from the Noun Project</small></p>
      
    </div>
  </div>

</footer>

</div><!-- /container -->

<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/handlebars-v4.0.11.js"></script>
<script src="/static/js/fontawesome-all.min.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/big.min.js"></script>
<script src="/static/js/main.js?v=10"></script>

</body>
</html>
