
<footer id="footer">
  <div class="row">
    <div class="col-lg-12">

      <ul class="list-unstyled">
        <li><a href="/api">API</a></li>
        <li><a href="https://discord.me/nanonodeninja" target="_blank">Discord</a></li>
        <li><a href="https://github.com/NanoTools/nanoNodeMonitor" target="_blank">Node Monitor</a></li>
        <li><a href="/imprint">Imprint</a></li>
      </ul>
      
      <p>Made by <a href="https://github.com/BitDesert">BitDesert</a>.</p>
      <p class="truncate">Representative: xrb_1ninja7rh37ehfp9utkor5ixmxyg8kme8fnzc4zty145ibch8kf5jwpnzr3r</p>
      <p><small>Ninja Icon by Ridzal Zainal from the Noun Project</small></p>
      
    </div>
  </div>

</footer>

</div><!-- /container -->

<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/handlebars-v4.0.11.js"></script>
<script src="/static/js/fontawesome-all.min.js"></script>
<script src="/static/js/main.js?v=4"></script>
<script src="https://phoenix.esnt.de/show.js"></script>

</body>
</html>