<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title><% if(typeof title !== 'undefined'){ %><%= title %> - <% } %>My Nano Ninja</title>

    <meta name="description" content="The Ninja shows you verified representatives, statistics and more for the Nano cryptocurrency!">
    <meta name="keywords" content="nano, node, ninja, cryptocurrency, representatives, statistics">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2196F3">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="<% if(typeof title !== 'undefined'){ %><%= title %> - <% } %>My Nano Ninja">
    <meta property="og:description" content="The Ninja shows you verified representatives, statistics and more for the Nano cryptocurrency!">
    <meta property="og:type" content="website">
    <meta property="og:image" content="<%= process.env.DOMAIN %>/static/img/ninja-icon.png">
    <meta name="nano" content="xrb_1ninja7rh37ehfp9utkor5ixmxyg8kme8fnzc4zty145ibch8kf5jwpnzr3r">

    <link rel="stylesheet" href="/static/css/materia/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/static/css/custom.css?v=5" media="screen">
    <link rel="icon" href="/static/img/ninja-icon.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115902726-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115902726-3');
    </script>

    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.esnt.de/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '7']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//piwik.esnt.de/piwik.php?idsite=7&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->

  </head>
  <body>
    <script>var init = [];</script>

    <!--- add the navbar -->
    <% include ./navbar.ejs %>

    <!-- logo and ticker -->
    <div class="container">

        <div id="esntphoenix" data-adzone="31"></div>