<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title><% if(typeof title !== 'undefined'){ %><%= title %> - <% } %>My Nano Ninja</title>

    <meta name="description" content="The Ninja shows you verified representatives, statistics and more for the Nano cryptocurrency!">
    <meta name="keywords" content="nano, node, ninja, cryptocurrency, representatives, statistics">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2196F3">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="<% if(typeof title !== 'undefined'){ %><%= title %> - <% } %>My Nano Ninja">
    <meta property="og:description" content="The Ninja shows you verified representatives, statistics and more for the Nano cryptocurrency!">
    <meta property="og:type" content="website">
    <meta property="og:image" content="<%= process.env.DOMAIN %>/static/img/ninja-icon.png">
    <meta name="nano" content="nano_1ninja7rh37ehfp9utkor5ixmxyg8kme8fnzc4zty145ibch8kf5jwpnzr3r">

    <link rel="stylesheet" href="/static/css/materia/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="/static/css/custom.css?v=7" media="screen">
    <link rel="icon" href="/static/img/ninja-icon.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115902726-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115902726-3');
    </script>
    
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "ea11df0588ad483783aef1eccbb1cb9c"}'></script>
    <!-- End Cloudflare Web Analytics -->

  </head>
  <body>
    <script>var init = [];</script>

    <!--- add the navbar -->
    <% include ./navbar.ejs %>

    <!-- logo and ticker -->
    <div class="container">

      <!-- <a href="https://github.com/sponsors/BitDesert" class="text-decoration-none" style="color: inherit;">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Sponsor My Nano Ninja!</h5>
            <p class="card-text">
              Donate for the upkeep of the representative and My Nano Ninja page. Thank you for your help!
              <div class="progress" style="height: 2em;">
                <div class="progress-bar progress-bar-smooth" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span id="sponsor-progress-text"></span></div>
              </div>
            </p>
          </div>
        </div>
      </a> -->
