<% include ../partials/header.ejs %>

<h1>My Nano Ninja API</h1>
<h4>Build awesome apps with the Ninja!</h4>

<h2>Base URL</h2>
<pre>https://mynano.ninja/api/</pre>

<h2>General</h2>

<h3>Direct RPC Access</h3>
<p>With this endpoint you can communicate with the Nano Node directly.</p>
<pre>/node</pre>
<p>
  The following actions are available:<br>
  <code>
  'account_balance',
  'account_info',
  'account_history',
  'account_key',
  'account_representative',
  'account_weight',
  'available_supply',
  'block_info',
  'block_account',
  'block_count',
  'block_count_type',
  'chain',
  'confirmation_active',
  'confirmation_history',
  'confirmation_info',
  'confirmation_quorum',
  'frontier_count',
  'process',
  'representatives',
  'representatives_online',
  'successors',
  'version',
  'peers',
  'pending',
  'pending_exists',
  'work_validate',
  'work_generate',
  'key_create',
  'krai_from_raw',
  'krai_to_raw',
  'mrai_from_raw',
  'mrai_to_raw',
  'rai_from_raw',
  'rai_to_raw'
</code><br>
Anything missing? Suggest it on <a href="https://discord.gg/Dd8CUbv" target="_blank">Discord</a>!
</p>
<p>
  You need a API key which you send via a <code>Authorization: yourapikey</code> HTTP header.<br>
  The <a href="https://github.com/BitDesert/nano-node-rpc">nano-node-rpc</a> NodeJS library does that for you.<br>
</p>
<p>
  <a href="/profile#apikey" class="btn btn-sm btn-secondary">Get you API key here!</a>
</p>

<h3>Blockcount</h3>
<p>Returns the current block count</p>
<pre>/blockcount</pre>

<h3>Ledger Download</h3>
<p>Redirects to the current ledger file at Yandex</p>
<pre>/ledger/download</pre>

<h2>Accounts</h2>

<h3>Principals</h3>
<p>Accounts with over 0.1% voting weight</p>
<pre>/accounts/principals</pre>

<h3>Verified</h3>
<p>Accounts that are verified</p>
<pre>/accounts/verified</pre>

<h3>All Aliases</h3>
<p>Get all aliases for local caching</p>
<pre>/accounts/aliases</pre>

<h3>Accounts with Monitor</h3>
<p>Get all representatives that have a node monitor</p>
<pre>/accounts/monitors</pre>

<h3>Specific account</h3>
<p>Get information about a specific account</p>
<pre>/accounts/:account</pre>
<h4>Parameter</h4>
<table class="table table-active">
  <thead>
    <tr>
      <th scope="col">Field</th>
      <th scope="col">Type</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>account</td>
      <td>String</td>
      <td>Nano address nano_1234...</td>
    </tr>
  </tbody>
</table> 

<% include ../partials/footer.ejs %>