<% include ../partials/header.ejs %>

<div id="app">
  <h2 class="truncate">
    {{hash}}
  </h2>
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Type</th>
          <td>{{block.contents.type}}</td>
        </tr>
        <tr>
          <th scope="row">Account</th>
          <td>
            <account-alias :account="block.contents.account"></account-alias>
          </td>
        </tr>
        <tr>
          <th scope="row">Previous</th>
          <td><a v-bind:href="'/block/'+ block.contents.previous"><span v-html="$options.filters.formatHash(block.contents.previous)"></span></a></td>
        </tr>
        <tr>
          <th scope="row">Representative</th>
          <td>
            <account-alias :account="block.contents.representative"></account-alias>
          </td>
        </tr>
        <tr>
          <th scope="row">Amount</th>
          <td>{{block.amount | toMnano}} NANO</td>
        </tr>
        <tr>
          <th scope="row">Balance</th>
          <td>{{block.contents.balance | toMnano}} NANO</td>
        </tr>
        <tr>
          <th scope="row">Link</th>
          <td>{{block.contents.link}}</td>
        </tr>
        <tr>
          <th scope="row">Link as Account</th>
          <td>
            <account-alias :account="block.contents.link_as_account"></account-alias>
          </td>
        </tr>
        <tr>
          <th scope="row">Signature</th>
          <td><span v-html="$options.filters.formatHash(block.contents.signature)"></span></td>
        </tr>
        <tr>
          <th scope="row">Work</th>
          <td>{{block.contents.work}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script src="/static/js/vue.min.js"></script>
<script src="/static/js/main-vue.js?v=5"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/big.min.js"></script>
<script>
  const hash = "<%= hash %>";
</script>
<script src="/static/js/sites/block.js"></script>

<% include ../partials/footer.ejs %>