<% include ../partials/header.ejs %>

<h1>Representatives FAQ</h1>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LZ8TZFfYDcY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<h2 class="mt-3">What are representatives?</h2>

<p>
  Nano secures the network with representatives who vote on all valid transactions. 
  Transactions from attackers are discarded. <br>
  The process works like a democracy, where you delegate your vote to your local representative.
  In Nano the balances from all delegates are resposible on how many weight a representative has.
</p>

<h2 class="mt-3">How do I change my representative?</h2>

<p>
  You can change your representative on every good Nano wallet.<br>
  Go to the app or account settings and look for the representative option.<br>
  There you have to paste the address of the new representative or scan the QR code on the representatives account page.
</p>

<h2 class="mt-3">Who should I choose?</h2>

<p>
  Go to the <a href="/">main page</a> and have a look at the recommended representatives.
  They are sorted by the following factors:
</p>

<h3>Uptime</h3>

<p>
  Your votes won’t be counted in consensus if your rep doesn’t stay online, potentially due to weak hardware that gets knocked off during high network load. 
  Choose a rep with &#62;95% uptime.
</p>

<h3>Weight</h3>

<p>
  A few big reps having too much weights makes 51% attack or network stalling much easier. 
  Delegate to reps with &#60;1% weights and high uptime makes Nano more robust and decentralized.
</p>

<h3>Time since creation</h3>

<p>
  You don’t want to vote for a rep that might disappear tomorrow. 
  The longer the rep has been around, the more committed the owner is, the less chance that will happen. 
  Also prevents Sybil nodes to gain weights too fast.
</p>

<h3>Social Profiles</h3>

<p>
  All representatives on My Nano Ninja have at least one social profile connected to their account.
  If a rep owner has been actively contributing to good discussion of Nano or building on the Nano ecosystem for a long time, they are more trustworthy.
</p>

<h1 id="scoring">Scoring</h1>

<p>
  The representative score is a good indicator of reliability and is calculated using various attributes such as uptime, voting weight and days since creation.
</p>

<p>
  The current formula is as follows:<br>
  <code>divider = 100^4 / 100</code><br>
  <code>score = (score_weight * score_uptime * score_age * score_latency) / divider</code>
</p>
<div class="row">
  <div class="col">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.desmos.com/calculator/safx4qdgwd?embed"></iframe>
    </div>
  </div>
  <div class="col">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.desmos.com/calculator/akdxbrldmr?embed"></iframe>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.desmos.com/calculator/dj6fcysyjx?embed"></iframe>
    </div>
  </div>
  <div class="col">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.desmos.com/calculator/tcpqxxly9r?embed"></iframe>
    </div>
  </div>
</div>



<% include ../partials/footer.ejs %>
