<% include ../partials/header.ejs %>

<h1>Login to your Profile</h1>

<p>Choose your favorite social platform! You can connect more later.</p>
<p>Afterwards you can connect your crypto address.</p>

<a href="/auth/twitter" class="btn btn-secondary"><i class="fab fa-twitter"></i> Twitter</a>
<a href="/auth/github" class="btn btn-secondary"><i class="fab fa-github"></i> GitHub</a>
<a href="/auth/reddit" class="btn btn-secondary"><i class="fab fa-reddit"></i> Reddit</a>
<a href="/auth/discord" class="btn btn-secondary"><i class="fab fa-discord"></i> Discord</a>

<% include ../partials/footer.ejs %>