<% include ../partials/header.ejs %>

<h1>Map</h1>

<div id="map" style="height: 40rem"></div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>

<script>
  var map = L.map('map').setView([0, 0], 2);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  init.push(function () {
    $.getJSON('/api/accounts/geo', function (data) {
      for (const account of data) {

        var marker = L.marker([account.location.latitude, account.location.longitude]).addTo(map)

        if (account.alias) {
          marker.bindPopup('<a href="/account/' + account.account + '">' + account.alias + '</a>')
        } else {
          marker.bindPopup('<a href="/account/' + account.account + '">' + account.account + '</a>')
        }
      }
    });
  });
</script>


<% include ../partials/footer.ejs %>