<% include ../../partials/header.ejs %>

  <h1>Statistics</h1>

  <div id="content"></div>

  <script src="/static/js/moment.min.js"></script>
  <script src="/static/js/Chart.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="/static/js/sites/statistics/blockcount.js?v=8"></script>

  <% include ../../partials/footer.ejs %>