<% include ../../partials/header.ejs %>

<h1>Node Versions</h1>

<div class="row">
  <div class="col">
    <h3>By node count</h3>
    <canvas id="chartcanvascount"></canvas>
  </div>
  <div class="col">
    <h3>By weight</h3>
    <canvas id="chartcanvasweight"></canvas>
  </div>
</div>

<script src="/static/js/Chart.min.js"></script>
<script src="/static/js/sites/statistics/versions.js?v=4"></script>

<% include ../../partials/footer.ejs %>