<% include ../../partials/header.ejs %>

  <h1>Versions</h1>

  <canvas id="chartcanvas"></canvas>

  <div id="content"></div>

  <script src="/static/js/Chart.min.js"></script>
  <script src="/static/js/sites/statistics/versions.js?v=1"></script>

  <% include ../../partials/footer.ejs %>