<% include ../../partials/header.ejs %>

  <h1>Versions</h1>

  <h2>By node count</h2>

  <canvas id="chartcanvascount"></canvas>

  <h2>By weight</h2>

  <canvas id="chartcanvasweight"></canvas>

  <div id="content"></div>

  <script src="/static/js/Chart.min.js"></script>
  <script src="/static/js/sites/statistics/versions.js?v=1"></script>

  <% include ../../partials/footer.ejs %>